<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <form action="#" method="POST">
        <fieldset>
            <legend>To begin, enter a twitter handle in the text box below</legend>
            <p>
                <input type="text" id="handle" name="myHandle" />
            </p>
            <p>
                <input type="submit" value="Get Video" />
            </p>
        </fieldset>
    </form>
</body>
</html>
